table,
th,
td {
  border: 1px solid black;
}

h1 {
  text-align: center;
}

.images-first img {
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 20em;
}

.images-row img {
  justify-content: space-between;
  gap: 10px;
  height: 5em;
}

body {
  background-color: #e7e7e7;
}

strong {
  font-size: 24px;
}

h2 {
  text-decoration: underline;
  font-size: 16px;
  margin-bottom: 20px;
}

.Table_assignments {
  width: 100%;
  margin-top: 40px;
}

.eerste-rij {
  font-weight: bold;
}

.Table_skills {
  width: 100%;
  margin-top: 40px;
}

.Table_skills td {
  display: block;
}

.Skills {
  margin-top: 40px; /* Ruimte boven het blok */
}

.Myself {
  margin-top: 40px;
}

.Contact {
  margin-top: 40px;
}

.form-fields {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field input {
  width: 200px;
}
